.block-header   h2 {
	font-family: 'Roboto Condensed';
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #4E4E4E;
}
section.content{
  margin: 0;
}
